#wrapper {
	border-top:3px solid #30b4c5;
}

a {
	color:#30b4c5;
}

.intro a {
	color:#30b4c5;
}

.team-text h6  {
	color:#30b4c5;
}

.testimonial-meta h5 {
	color:#30b4c5;
}

span.caption a:hover {
	color:#30b4c5;
}

.widget a:hover {
	color:#30b4c5;
}

.featured-sidebar ul li.selected a {
	color:#30b4c5;
}

ul.tags a:hover {
	color:#30b4c5;
}

.authorp h2 a:hover {
	color:#30b4c5;
}

.comment a:hover {
	color:#30b4c5;
}

#toggle-view li.activated h3 {
	color:#30b4c5;
}


ul#filters li a:hover {
	color:#fff;
	background:#30b4c5;
}

ul#filters li.selected a {
	color:#fff;
	background:#30b4c5;	
}

.portfolio h3 a:hover {
	color:#30b4c5;
}

h2.post-title a:hover, .meta a:hover {
	color:#30b4c5;
}

.pagenav a:hover {
    background:#30b4c5;
    color:#fff;
}

span.current {
    background:#30b4c5; 
}

#footer a:hover {
	color:#30b4c5;
}

.featured-column .package-title {
	border-bottom:3px solid #30b4c5;	
}

ul#mainnav li a:hover, ul#mainnav li a:active, ul#mainnav li a.current {
	border-bottom:1px solid #30b4c5;
}

.nav-first-item {
	border-top:1px solid #30b4c5;
}

a.service-more {
	float:right;
	background:url(btn-arrow.png) no-repeat 95% 5px;
	display:inline-block;
	padding-right:20px;		
	-webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;		
}

a.service-more:hover {
	background:url(btn-arrow-on.png) no-repeat 95% 5px;
	color:#444;
}

.more-btn {
	display:block;
	background:url(btn-arrow.png) no-repeat scroll center right;
	padding-right:15px;
	float:right;
	-webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;		
}

.more-btn:hover {
	background:url(btn-arrow-on.png) no-repeat center right;
	color:#444;	
}


.toggle-plus {
	background:url(plus.png) no-repeat scroll right center;
	width:21px;
	height:21px;
}

.toggle-minus {
	background:url(minus.png) no-repeat scroll right center;
	width:21px;
	height:21px;
}

.previous-post-link a {
	background:url(arrow-prev-hover.png) no-repeat scroll 0 0;	
}

.previous-post-link a:hover {
	background:url(arrow-prev.png) no-repeat scroll 0 0;	
}	

.next-post-link a {
	background:url(arrow-next-hover.png) no-repeat scroll 0 0;
	margin-left:1px;
}

.next-post-link a:hover {
	background:url(arrow-next.png) no-repeat scroll 0 0;	
}	
 